{% extends 'base.html' %} 
{% block content %}
>
            <h1> {{name}} </h1>

        {% for article in articles %}
      
            <a href={{article.url}} target="_blank">
                <img class="img-fluid img-thumbnail" src={{article.urlToImage}} alt="pic">
            </a>
          
                <h4 class="text-bold"> {{article.title}} </h4>
                <p>by {{article.author}} </p>
                <hr>
                <p> {{article.description}}...
                    <a href={{article.url}} target="_blank">Read More</a>
                </p>
                <p>Published on {{article.publishedAt}}</p>
        
        {% endfor %}
    </div>
</div>
{% endblock%}