{% extends 'base.html'%}
{% import 'source.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content%}
 
            <h2>General Sources</h2>
        {{macro.displayNewsSourcesList(general)}}

            <h2 >Business News Sources</h2>
       
        {{macro.displayNewsSourcesList(business)}}
   

            <h2>Sports News Sources</h2>
 >
        {{macro.displayNewsSourcesList(sports)}}
 
 
            <h2>Technology News Sources</h2>
    
        {{macro.displayNewsSourcesList(technology)}}
 

            <h2>Entertainment News Sources</h2>
       
        {{macro.displayNewsSourcesList(entertainment)}}

{% endblock %}