{% macro displayNewsSourcesList(news_source_list) %} 


            <h1> {{name}} </h1>
 
        {% for article in articles %}
      
            <a href={{article.url}} target="_blank">
                <img class="img-fluid img-thumbnail" src={{article.urlToImage}} alt="pic">
            </a>
            
                <h4 class="text-bold"> {{article.title}} </h4>
                <p>by {{article.author}} </p>
                <hr>
                <p> {{article.description}}...
                    <a href={{article.url}} target="_blank">Find More</a>
                </p>
                <p>Published{{article.publishedAt}}</p>
         
        {% endfor %}

{% endblock%} 

            <h3 class="panel-heading"> {{source.name}} </h3>
        
            <p> 
                {{ source.description |truncate(120)}}
                <br>
                <a class = "btn btn-primary" href="/articles/{{source.id}}">View {{source.name}} Articles</a>
            </p>            
  
{% endfor %} 
{% endmacro %}

